# To get a free domain for testing, you can use services like sslip.io or nip.io
DOMAIN=localhost  # replace with your domain, e.g., <Public-IP>.sslip.io
LETSENCRYPT_EMAIL=email@example.com

# Example
# replace with your desired username and hashed password
# htpasswd -nb admin password
# admin:$apr1$AfkpoIL5$mEDvLuJy8upXBpnsphC3C/
USERNAME=admin
HASHED_PASSWORD='$$apr1$$AfkpoIL5$$mEDvLuJy8upXBpnsphC3C/'
